html, body {
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url("../images/bg.png");
}

.content {
  min-height: 100%;
  position: relative;
}

.navbar-upper{
  margin-bottom: 0px;
  min-height: 25px;
  border-radius: 0px;
  background-color: #03A9F4;
  border: 0px;
}

.navbar-default .navbar-brand-upper{
  font-family: 'Rubik Mono One';
  color: #FAFAFA;
  height: 25px;
  padding: 0px;
  padding-left: 5px;
  line-height: 25px;
  text-shadow: -2px 2px 2px rgba(33, 33, 33, 0.85);
}

.navbar-default .navbar-brand:hover{
  color: #FAFAFA;
}

.navbar-lower{
  min-height: 30px;
  background-color: #212121;
  border: 0px;
  box-shadow: 0px 2px 10px 0px rgba(33, 33, 33, 0.85);
}

.navbar-nav > li > a{
  padding: 10px 15px 10px 15px;
  color: #FAFAFA;
}

.nav > li > a:hover{
  background-color: #424242;
}

.navbar-right{
    margin: 0;
}

.navbar-form {
    margin: 0;
    padding: 0;
    height: 40px;
}

.navbar-form > .form-group{
    height: 100%;
}

.navbar-form > .form-group > .form-control {
    border-radius: 0px;
    border: 0;
    border-bottom: 2px solid #FAFAFA;
    background-color: inherit;
    height: 100%;
    color: #FAFAFA
}

.navbar-form > .form-group > .form-control:focus {
    box-shadow: none;
    border-bottom: 2px solid #03A9F4;
}

.footer {
  background-color: #212121;
  box-shadow: 0 -2px 10px 0px rgba(33, 33, 33, 0.85);
  position: absolute;
  padding: 0;
  margin-top: 50px;
  right: 0;
  left: 0;
  bottom: -50px;
}

.footer-copyright {
  text-align: center;
  color: #FAFAFA;
  font-variant: small-caps;
  bottom: 0;
}

.quote-link {
  color: #424242;
  font-weight: bold;
  padding-left: 8px;
}

.quote {
  font-family: 'Inconsolata', monospace;
}

.quote-header {
  background-color: #b3e5fc;
  border-bottom: 1px solid;
  border-color: #4fc3f7;
  margin-bottom: 2px;
}

.quote-date {
  padding-right: 8px;
}

.rate-positive {
  color: #4caf50;
}

.rate-negative {
  color: #f44336;
}

.table-separator{
  background-color: #03A9F4;
  padding: 0!important;
  width: 3px;
  height: 100%;
}

.table{
  height: 100%;
}

.table > tbody > tr > td{
  border-top: 0;
}

.tags {
  margin-bottom: 4px;
}

.badge {
    background-color: #03A9F4;
}

.mod-form {
  padding-left: 8px;
  display: inline;
}

.btn-mod {
  padding: 0px 4px;
  border-radius: 0px;
  display: inline;
}

.pagination {
  margin: 0px;
  margin-bottom: 8px;
}

.pagination>li>a {
  color: #03A9F4;
}

.pagination>.active>a {
  background-color: #03A9F4;
  border-color: #03A9F4;
}
